apiVersion: apps/v1
kind: Deployment
metadata:
  name: db-primary
spec:
  replicas: 1
  selector:
    matchLabels:
      role: primary
  template:
    metadata:
      labels:
        role: primary
    spec:
      containers:
        - name: db
          image: redis:7
          ports:
            - containerPort: 6379
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
